*{
    margin: 0;
    padding: 0;
    font-family: 'Rye', cursive;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.table{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: darkgreen;
    border: 10px groove brown;
    border-radius: 20px;

    width: 800px;
    height: 450px;
    padding: 30px 10px;
}

.table__text {
    color: white;
    font-size: 30px;
    text-align: center;
}

.table__cards {
    display: flex;
    align-items: center;
}

.card {
    height: 180px;
    width: 120px;
    margin: 0 5px;
    padding: 0 10px;

    background-color: white;
    border: 3px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card__text {
    width: 100%;
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.card__top {
    justify-content: flex-start;
}

.card__bot {
    justify-content: flex-end;
}

.card__mid__img {
    background-image: url('https://i.pinimg.com/originals/36/e4/f1/36e4f118cc04e1a5612cfe8db7fa65f1.jpg');
    background-repeat: no-repeat;
    background-size: 200px 200px;
    height: 100px;
    width: 100px;
}

.clubs {
    background-position: top -100px left 5px;
}

.hearts {
    background-position: top 5px left 5px;
}

.diamonds {
    background-position: top -100px left -110px;
}

.spades {
    background-position: top 0px left -100px;
}